@model List<TaskListViewModel>
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card team-card">
                    <div class="card-body">
                        <div class="float-end">
                            <div class="dropdown d-inline-block">
                                <a class="dropdown-toggle arrow-none" id="dLabel1" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="las la-ellipsis-v font-24 text-muted"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dLabel1">
                                    <a asp-controller="ProjectTasks" asp-action="EditTask" asp-route-id="@item.TaskId" class="dropdown-item" >تعديل المهمة</a>
                                    <a asp-controller="ProjectTasks" asp-action="DeleteTask" asp-route-id="@item.TaskId" class="dropdown-item" >حذف المهمة</a>
                                </div>
                            </div>
                        </div>
                        <div class="media align-items-center">
                            @if (item.UserPic == "-")
                            {
                                <img src="~/images/users/1.jpg" alt="" class="rounded-circle user-img">

                            }
                            else
                            {
                                <img src="~/images/users/@(item.UserPic).jpg" alt="" class="rounded-circle user-img" />

                            }
                            <div class="online-circle">
                                <i class="fa fa-circle text-success"></i>
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h4 class="team-leader m-0">@item.UserName</h4>
                                <p class="text-muted font-12 mb-0">@item.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")</p>
                            </div>
                        </div>
                        <h4 class="m-0 mt-4 font-14 font-weight-semibold">@item.Name</h4>
                        <p class="text-muted mb-0">@item.Description</p>
                        <div class="mt-4 d-flex justify-content-between">
                            <div>
                                <h5 class="team-leader m-0">حالة المهمة :</h5>
                                <p class="text-muted font-12 mb-0">@item.Statues</p>

                            </div>
                            <div>
                                <h5 class="team-leader m-0">أولوية المهمة</h5>
                                <p class="text-muted font-12 mb-0">@item.priority</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        }







    }
</div>