@model TaskViewModel
@{
    Layout = null;
}
<form asp-action="CreateOrEditTask" asp-controller="ProjectTasks" enctype="multipart/form-data" asp-route-ProjectId="@Model.ProjectId" onsubmit="return jQueryAjaxPost(this);">

    <input type="hidden" asp-for="ProjectId" />
    <input type="hidden" asp-for="StatuesId" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for=" Name" class="form-label">المهمة</label>
        <input asp-for=" Name" type="text" class="form-control" placeholder="أدخل المهمة">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>


    <div class="mb-3">
        <label asp-for=" StartDate" class="form-label">تاريخ البداية</label>
        <input value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for=" StartDate">
        <span asp-validation-for=" StartDate" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for=" EndDate" class="form-label">تاريخ الانتهاء</label>
        <input value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for=" EndDate">
        <span asp-validation-for=" EndDate" class="text-danger"></span>
    </div>

    <div class="row mb-3  ">
        <label class="form-label">المستخدمين</label>
        <select asp-for=" userId" class="form-control  " asp-items="ViewBag.UsersList">
        </select>
        <span asp-validation-for=" userId" class="text-danger"></span>
    </div>


    <div class="row mb-3">
        <label for="addFile" class="form-label">اضافة ملفات</label>
        <input onchange="UploadAttach1(this);" type="file" id="fileAttach1" class="form-control" id="addFile" asp-for="File">
    </div>


    <div class="row mb-3">
        <label asp-for=" Description" for="projectDescription" class="form-label">وصف المهمة</label>
        <textarea class="form-control" asp-for=" Description" placeholder="وصف المهمة" rows="3"></textarea>
        <span asp-validation-for=" Description" class="text-danger"></span>

    </div>










    <div class=" row mb-3">
        <label class="form-label me-5">الاولوية</label>
        <div class="d-inline">


            @foreach (var item in Model.Priorities)
            {
                <input type="radio" class="btn-check" asp-for="ProirityId" value="@item.Id" id="@($"pro{@item.Id}")" autocomplete="off">
                <label class="btn btn-sm me-2 @($"btn-outline-{@item.Color}")" title="@item.Name" for="@($"pro{@item.Id}")">
                    <i class="far fa-flag"></i>
                </label>
            }
        </div>
    </div>


    <button name="submit" type="submit" class="btn btn-outline-purple">إضافة</button>


    <button type="button" class="btn btn-outline-pink" data-bs-dismiss="modal">إغلاق</button>
</form>

@section styles {
    <!-- Plugins css -->
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/huebee/huebee.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/timepicker/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="~/lib/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
}

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}