@model TaskViewModel
@{
    ViewData["Title"] = "المشاريع";
}

<div class="container">

    <div class="row m-3">



        <div class="col-lg-6 border border-2 ">



            @if (User.IsInRole("Admin"))
            {
                <form asp-action="EditTask" asp-controller="ProjectTasks" enctype="multipart/form-data" asp-route-Id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">

                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="hidden" asp-for="FilePath" />
                        <input type="hidden" asp-for="isRead" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">المهمة</label>
                            <input asp-for=" Name" type="text" class="form-control" placeholder="أدخل المهمة">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="StartDate" class="form-label">تاريخ البداية</label>
                            <input value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for="StartDate">
                            <span asp-validation-for=" StartDate" class="text-danger"></span>
                        </div>




                        <div class="mb-3">
                            <label asp-for="EndDate" class="form-label">تاريخ الانتهاء</label>
                            <input value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for=" EndDate">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        @if (ViewBag.erroredDate != null)
                        {
                            <div class="text-danger">
                                @ViewBag.erroredDate
                            </div>
                        }

                        <div class="row mb-3  ">
                            <label class="form-label">المستخدمين</label>
                            <select asp-for=" userId" class="form-control  " asp-items="ViewBag.UsersList">
                            </select>
                            <span asp-validation-for=" userId" class="text-danger"></span>
                        </div>


                        <div class="row mb-3">
                            <label asp-for=" Description" for="projectDescription" class="form-label">وصف المهمة</label>
                            <textarea class="form-control" asp-for=" Description" placeholder="وصف المهمة" rows="3"></textarea>
                            <span asp-validation-for=" Description" class="text-danger"></span>

                        </div>

                        <div class="row mb-3">
                            <label class="form-label me-5">الحالة</label>
                            <div class="d-inline">
                                @foreach (var item in Model.statues)
                                {
                                    <input type="radio" class="btn-check" asp-for="StatuesId" value="@item.Id" id="@($"State{item.Id}")" autocomplete="off">
                                    <label class="btn btn-sm me-2 @($"btn-outline-{item.Color}")" title="@item.Name" for="@($"State{item.Id}")">
                                        <i class="@item.Icon"></i>
                                    </label>
                                }
                            </div>
                        </div>



                        <div class=" row mb-3">
                            <label class="form-label me-5">الاولوية</label>
                            <div class="d-inline">


                                @foreach (var item in Model.Priorities)
                                {
                                    <input type="radio" class="btn-check" asp-for="ProirityId" value="@item.Id" id="@($"pro{@item.Id}")" autocomplete="off">
                                    <label class="btn btn-sm me-2 @($"btn-outline-{@item.Color}")" title="@item.Name" for="@($"pro{@item.Id}")">
                                        <i class="far fa-flag"></i>
                                    </label>
                                }
                            </div>
                        </div>



                        <div class="row mb-3">
                            <label for="File" class="form-label">اضافة ملفات</label>
                            <input type="file" id="fileAttach1" class="form-control" name="File">
                            @if (Model.FilePath != "-")
                            {
                                <a asp-controller="ProjectTasks" asp-action="DownloadFile" asp-route-filePath="Files/TaskAttach/@Model.FilePath" class="btn btn-primary">تحميل الملف</a>

                            }



                        </div>

                        <button name="submit" type="submit" class="btn btn-outline-purple ">حفظ</button>



                    </div>
                </form>
            }
            else
            {
                <form asp-action="EditTask" asp-controller="ProjectTasks" enctype="multipart/form-data" asp-route-Id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">

                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="ProjectId" />
                        <input type="hidden" asp-for="FilePath" />
                        <input type="hidden" asp-for="isRead" />
                        <input type="hidden" asp-for="ProirityId" />
                        <input type="hidden" asp-for="userId" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div  class="mb-3">
                            <label  asp-for="Name" class="form-label">المهمة</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="أدخل المهمة" readonly>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="StartDate" class="form-label">تاريخ البداية</label>
                            <input readonly value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for="StartDate">
                            <span asp-validation-for=" StartDate" class="text-danger"></span>
                        </div>




                        <div class="mb-3">
                            <label asp-for="EndDate" class="form-label">تاريخ الانتهاء</label>
                            <input readonly value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm:ss")" type="datetime-local" class="form-control" asp-for=" EndDate">
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        @if (ViewBag.erroredDate != null)
                        {
                            <div class="text-danger">
                                @ViewBag.erroredDate
                            </div>
                        }

              


                        <div class="row mb-3">
                            <label asp-for=" Description" for="projectDescription" class="form-label">وصف المهمة</label>
                            <textarea readonly class="form-control" asp-for="Description" placeholder="وصف المهمة" rows="3"></textarea>
                            <span asp-validation-for=" Description" class="text-danger"></span>

                        </div>

                        <div class="row mb-3">
                            <label class="form-label me-5">الحالة</label>
                            <div class="d-inline">
                                @foreach (var item in Model.statues)
                                {
                                    <input type="radio" class="btn-check" asp-for="StatuesId" value="@item.Id" id="@($"State{item.Id}")" autocomplete="off">
                                    <label class="btn btn-sm me-2 @($"btn-outline-{item.Color}")" title="@item.Name" for="@($"State{item.Id}")">
                                        <i class="@item.Icon"></i>
                                    </label>
                                }
                            </div>
                        </div>





                   

                        <div class="row mb-3">
                            <label for="File" class="form-label">اضافة ملفات</label>
                            <input type="file" id="fileAttach1" class="form-control" name="File">
                            @if (Model.FilePath != "-")
                            {
                                <a asp-controller="ProjectTasks" asp-action="DownloadFile" asp-route-filePath="Files/TaskAttach/@Model.FilePath" class="btn btn-primary">تحميل الملف</a>

                            }



                        </div>

                        <button name="submit" type="submit" class="btn btn-outline-purple ">حفظ</button>



                    </div>
                </form>
            }


          

        </div>

        <div class="col-lg-6 border border-2 ">
            <div class="card-body">
                <h5>التعليقات</h5>
                <div class="col-12">
               
                    @foreach (var item in Model.Comments)
                    {
                        <div class="card team-card">
                            <div class="card-body">


                                <div class="media align-items-center">
                                    @if (item.Pic == "-")
                                    {
                                        <img src="~/images/users/1.jpg" alt="" class="rounded-circle user-img">


                                    }
                                    else
                                    {
                                        <img src="~/images/users/@(item.Pic).jpg" alt="" class="rounded-circle user-img" />

                                    }
                                    <div class="online-circle">
                                        <i class="fa fa-circle text-success"></i>
                                    </div>
                                    <div class="media-body ms-3 align-self-center">
                                        <h4 class="team-leader m-0">@item.Name</h4>
                                    </div>
                                </div>
                                <p class="text-muted mb-0">@item.Comment</p>
                            </div>
                        </div>

                    }
      
                </div>



                <form asp-action="AddComment" asp-controller="ProjectTasks" asp-route-Id="@Model.Id">
                    <input type="hidden" asp-for="Id" />

                    <div class="my-3">
                        <textarea name="comment" class="form-control" id="projectDescription" placeholder="اضافة تعليق" rows="3"></textarea>
                    </div>
                    <button name="submit" type="submit" class="btn btn-outline-purple">
                        تعليق
                        <i class="mdi mdi-send"></i>
                    </button>

                </form>




            </div>


        </div>
    </div>


</div>


@section styles {

}

