@model Project
@{
    Layout = null;
}
<form asp-controller="Project" asp-action="CreateOrEditProject" enctype="multipart/form-data" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this); ">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



    <div class="mb-3">
        <label asp-for="Name" class="form-label">الإسم</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="أدخل إسم المشروع">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label asp-for="Description" for="projectDescription" class="form-label">الوصف</label>
        <textarea class="form-control" asp-for="Description" placeholder="وصف للمشروع" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>


    @if (Model.StartDate == null)
    {
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label">تاريخ البداية</label>
            <input value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" class="form-control" asp-for="StartDate">
            <span asp-validation-for="CreatedDate" class="text-danger"></span>

        </div>
    }
    else
    {
        <div class="mb-3">
            <label asp-for="StartDate" class="form-label">تاريخ البداية</label>
            <input value="@Model.StartDate.ToString("yyyy-MM-dd")" type="date" class="form-control" asp-for="StartDate">
            <span asp-validation-for="CreatedDate" class="text-danger"></span>

        </div>
    }
    @if (Model.EndDate == null)
    {
        <div class="mb-3">
            <label asp-for="EndDate" class="form-label">تاريخ النهاية</label>
            <input value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" type="date" class="form-control" asp-for="EndDate">
            <span asp-validation-for="EndDate" class="text-danger"></span>

        </div>
    }
    else
    {
        <div class="mb-3">
            <label asp-for="EndDate" class="form-label">تاريخ النهاية</label>
            <input value="@Model.EndDate.ToString("yyyy-MM-dd")" type="date" class="form-control" asp-for="EndDate">
            <span asp-validation-for="EndDate" class="text-danger"></span>

        </div>
    }


    <div class="mb-3">
        <label for="userInput" class="form-label">إضافة المستخدمين</label>



        <select asp-for="SelectedUserIds" multiple="multiple" class="form-control" asp-items="ViewBag.UsersList">
        </select>
        <span asp-validation-for="SelectedUserIds" class="text-danger"></span>

    </div>





    <button name="submit" type="submit" class="btn btn-primary">حفظ</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إغلاق</button>

    @if (ViewBag.edit == true)
    {
        <a asp-action="Archive" asp-controller="project" asp-route-id="@Model.Id" class="btn btn-dark" onsubmit="return jQueryAjaxDelete(this)">
            ارشفه
        </a>
    }


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}