@model LandingViewModel
<div class="mix">

    <div class="row d-flex justify-content-center align-items-center   padding1" style="margin:0;">
        <div class="col-lg-5">
            <h1 class="p1-midl animated-text  ">منصة لتحسين إدارة سير  العمل الخاص بك</h1>
            <h5 class="p2-midl  animated-text">
                قم بإعداد فريقك لتحقيق النجاح من خلال مركزية تخطيط أعباء
                العمل وتوفير الموارد والمراقبة في نظام أساسي واحد قوي
            </h5>
            <div class=" d-flex  justify-content-lg-start justify-content-sm-center gap-3 mt-4  ">

                <a class=" btn btn-purple  py-lg-2 px-lg-5 py-sm-2 fs-4 ">ابدأ الان </a>

            </div>
        </div>

        <div class="col-lg-7 d-flex justify-content-center  ">
            <img src="~/images/Features/3.png" class="img-midl" />
        </div>


    </div>

</div>


<!-------------wave section----------------->


<img src="~/images2/wave(5).svg" class="" />
<div class="waves1 ">
    <p class="p-wave py-lg-0 pb-sm-3 pt-sm-5 pb-sm-3">اكتشف مزايا هذا النظام </p>
    <div class="row d-flex justify-content-center gap-lg-3 " style="margin:0;">

        <div class="col-lg-3   col-sm-8 card card1">
            <img src="~/images/Features/@Model.Features.Pic1" class=" img-card" />
            <div class="card-body">
                <h5 class="card-title card-f1">@Model.Features.Title1</h5>
                <p class="card-text card-f2" style="color: #71717a ">@Model.Features.Content1.</p>
            </div>
        </div>
        <div class="col-lg-3   col-sm-8 card card1">
            <img src="~/images/Features/@Model.Features.Pic2" class=" img-card" />

            <div class="card-body">
                <h5 class="card-title card-f1 ">@Model.Features.Title2</h5>
                <p class="card-text card-f2" style="color: #71717a ">@Model.Features.Content2</p>
            </div>
        </div>
        <div class="col-lg-3  col-sm-8 card card1">
            <img src="~/images/Features/@Model.Features.Pic3" class=" img-card" />
            <div class="card-body">
                <h5 class="card-title card-f1 ">@Model.Features.Title3</h5>
                <p class="card-text card-f2" style="color: #71717a ">@Model.Features.Content3</p>
            </div>
        </div>

    </div>
</div>
<img src="~/images2/wave(6).svg" class="wave2-img" />
<!-------------------------------interfaces section----------------------------------->

<div class="row container-lg   d-flex justify-content-center align-items-center sec1  ">

    <div class="col-lg-7 d-flex justify-content-center">
        <img src="~/images2/efficiency.webp" class="sec1-img " />
    </div>
    <div class="col-lg-5 ">
        <p class="sec2-p1">تبسيط وأتمتة سير العمل</p>
        <p class="sec2-p2">
            أتم المهام المتكررة  وفي الوقت المناسب. <br />

    </div>
</div>

<div class="row container-lg   d-flex justify-content-center align-items-center sec1" style="margin-bottom:100px; ">

    <div class="col-lg-7 d-flex justify-content-center">
        <img src="~/images2/data-driven.webp" class="sec1-img" />
    </div>
    <div class="col-lg-5 ">
        <p class="sec2-p1">تبسيط وأتمتة سير العمل</p>
        <p class="sec2-p2">
            أتم المهام المتكررة  وفي الوقت المناسب. <br /> راقب تقدم فريقك من خلال التنبيهات وتحديثات  <br />الحالة التلقائية وتدفقات المشروع.
        </p>

    </div>
</div>


<section id="Co">
    <img src="~/images2/footer-shape.svg" style="background-color: #6d81f5" />

    <div class="footer-back">
        <nav class="footer">
            <div class="container">
                <form action="/" method="post">
                    <div class="container">
                        <div class="row justify-content-center pe-lg-5 ">
                            <div class="col-12">
                                <p class="fs-2">اتصل بنا</p>
                            </div>


                            <div class="col-12 d-flex gap-lg-3 gap-sm-3">
                                <div class="mb-3">
                                    <input type="email" class="contact-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="الاسم">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="contact-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="رقم الهاتف">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mb-3">
                                    <input type="email" class="contact-input2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="البريد الالكتروني">
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="form-floating">
                                    <textarea class="contact-textarea" placeholder="الرسالة" id="floatingTextarea2" style="height: 100px"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <a class=" btn  btn-success mt-4 py-lg-2 py-sm-2 px-4 mb-sm-3 fs-5  ">
                                    ارسال
                                </a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ul3">
                <ul class="ul-left" style="list-style-type:none">
                    <li class="li">
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-location-dot me-1" style="color: #fafcff;font-size:12px; "></i>
                            <a class="nav-link" asp-action="login" asp-controller="Account">
                                @Model.contact.Address
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-envelope me-1" style="color: #fafcff;font-size:12px; "></i>
                            <a class="nav-link">
                                @Model.contact.Email1
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class=" d-flex align-items-center">
                            <i class="fa-solid fa-envelope me-1" style="color: #fafcff;font-size:12px; "></i>
                            <a class="nav-link">
                                @Model.contact.Email2


                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="  d-flex align-items-center">
                            <i class="fa-solid fa-mobile me-1" style="color: #ffffff;font-size:12px; "></i>
                            <a class="nav-link">@Model.contact.Phone1</a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="  d-flex align-items-center">
                            <i class="fa-solid fa-phone me-1" style="color: #ffffff;font-size:12px; "></i>
                            <a class="nav-link">
                                @Model.contact.Phone2
                            </a>
                        </div>
                    </li>
                    <li class="li">
                        <div class="  d-flex align-items-center">
                            <i class="fa-brands fa-facebook me-1" style="color: #ffffff;font-size:12px; "></i>
                            <a class="nav-link" asp-controller="account" asp-action="login" />
                            @Model.contact.Facebook
                            </a>
                        </div>
                    </li>
                </ul>

            </div>

        </nav>

        <nav class="nav4">
            <p class="p5">      جميع الحقوق محفوظة&copy; Flow Master App  2024  </p>

        </nav>

    </div>
</section>
