@model IEnumerable<TeamsListViewModel>
@section styles {
  
    <link href="~/lib/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
 
    <link href="~/lib/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
  
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">الفرق المسجلة</h4>

                    </div> 
         
                </div> 
            </div>
        </div> 
    </div> 
    <div class="row">
        <div class="col-12">
             
                <table id="datatable" class="table table-bordered dt-responsive " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>ت</th>
                            <th>رمز الفريق</th>
                            <th>تاريخ الانشاء</th>
                            <th>مدير الفريق</th>
                            <th>عدد المستخدمين</th>
                            <th>عدد المشاريع</th>
                        </tr>
                    </thead>


                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.code</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.Admin</td>
                                <td>@item.Users</td>
                                <td>@item.Projects</td>
                            </tr>
                        }

                    </tbody>
                </table>
              
            
        </div>  
    </div>  



</div> 
@section scripts {
 
}